body{
	background-attachment:fixed;
	background-repeat:repeat;
	color:#292f33;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
	color: #919191;
}
#tweetBox{
	background-color:white;
	margin:12px;
	padding: 36px 32px;
	border-bottom: 0;
	border-radius: 6px;
}
#avatar{
	float:left;
	width:70px;
	border-radius:35px;
}
#name{
	float:left;
	margin: 0 0 0 15px;
}
#realName{
	font-weight:bold;
	font-size:28px;
}
#screenName{
	color:#8899a6;
	font-size:22px;
}
#verified{
	vertical-align:baseline;
}
#followBtn{
	display:inline-block;
	float:right;

}
#tweetText{
	clear: both;
	padding-top:15px;
	padding-bottom:15px;
	font-size: 30px;
	font-weight: 300;
	line-height:1.2em;
	letter-spacing: .02em;
}
#tweetImg{
	text-align:center;
}
#tweetImg img{
	height:400px;
	max-width:100%;
	overflow:hidden;
}
#rtFav{
	float:left;
	height:45px;
	margin-top:12px;
	padding: 4px 12px 0 0;
	border-top:solid 1px #e1e8ed;
	border-right:solid 1px #e1e8ed;
	border-bottom:solid 1px #e1e8ed;
}
#rtFav div{
	float:left;
	margin-right:20px;
}
#rtFav .dataTitle{
	color: #8899a6;
	font-size: 12px;
}
#rtFav .dataNumber{
	color: #1B95E0;
	font-size: 20px;
	font-weight: 500;
}
#retweetIcons{
	float:left;
	height:45px;
	width:400px;
	margin-top:12px;
	padding: 4px 12px 0 0;
	border-top:solid 1px #e1e8ed;
	border-bottom:solid 1px #e1e8ed;
}
#retweetIcons :first-child{
	margin-left:15px;
}
#retweetIcons img {
	 margin-top: 5px;
	 margin-left: -2px;
     height: 35px;
}

#time, #controls{
	clear:both;
	padding-top:15px;
	color:#8899a6;
	font-size:15px;
}
.emoji {
	height:30px;
}
.hilite {
	background-color:#afceff;
}
.clear {
	clear:both;
}
